.testimonial-section {
    background-color: #ffffff;
    padding: 237px 103px 193px;
}

.testimonial-text {
    color: #22356f;
    font: 400 24px/34px ABeeZee, sans-serif;
    letter-spacing: 0.12px;
}